<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386727792241-cr0stv0je0dmtlc2596qbl37af0flmtt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386727792241-cr0stv0je0dmtlc2596qbl37af0flmtt</string>
	<key>API_KEY</key>
	<string>AIzaSyCMiG0AWzq8SP-8FQMqP6J5tqil4H6AeUk</string>
	<key>GCM_SENDER_ID</key>
	<string>386727792241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>studysaga</string>
	<key>PROJECT_ID</key>
	<string>studysaga-3775d</string>
	<key>STORAGE_BUCKET</key>
	<string>studysaga-3775d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386727792241:ios:0dadeb574bf2206647d5d0</string>
</dict>
</plist>